<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate A News Article with Natural Language Processing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="title" content="Evaluate A News Article with Natural Language Processing">
    <meta name="description" content="Article Analyzer is a web tool that allows users to run Natural Language Processing (NLP) on articles by url. Using an API called meaning cloud">
    <meta name="keywords" content="NLP,meaning cloud,udacity,node,express">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="10 days">
    <meta name="author" content="Zeyad Habbab">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://evaluate-news-nlp-one.vercel.app/" />
    <meta property="og:title" content="Evaluate A News Article with Natural Language Processing" />
    <meta property="og:description" content="Evaluate A News Article with Natural Language Processing">
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://evaluate-news-nlp-one.vercel.app/" />
    <meta property="twitter:title" content="Evaluate A News Article with Natural Language Processing" />
    <meta property="twitter:description" content="Evaluate A News Article with Natural Language Processing">
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />

</head>

<body>

    <header class="container-fluid shadow-sm">
        <div class="container d-flex flex-wrap justify-content-center py-3">
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Article Analyzer</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="https://github.com/zeiadhabbab/evaluate-news-nlp" class="nav-link">Source code</a></li>
                <li class="nav-item"><a href="https://www.linkedin.com/in/zeiad-habbab/" class="nav-link">Linkdin</a></li>
            </ul>
        </div>
    </header>


    <main>
        <section>
            <form id="urlForm" class="shadow">
                <div class="loader" id="loader">
                    <i class="fa fa-spinner fa-spin spinner"></i>
                </div>
                <h5 class="mb-3">
                    Insert a valid URL to enable the Article Analyzer to start its process.
                </h5>
                <input id="url" class="form-control form-control-lg mb-3" type="text" name="url" placeholder="Enter URL" >
                <div class="alert alert-danger hidden" role="alert" id="errorMsg">
                    Please insert a valid url!
                </div>    
                <button id="submitButton" type="submit" class="w-100 btn btn-md btn-primary">Submit</button>

                <div class="build-text">Built With L♥VE</div>
            </form>

            
        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
        </section>
    </main>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Article Analyzer</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="https://github.com/zeiadhabbab"><i class="fab fa-github fa-fw"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/zeiad-habbab/"><i class="fab fa-linkedin fa-fw"></i></a></li>
          </ul>
        </footer>
      </div>

</body>

</html>